@charset "UTF-8";
@import url("${contextPath}/resources/uploadcss/reset.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap');

/* ALL */
.frm_detail {
	width : 800px;
	margin: 0 auto;
	padding-top: 50px;
	margin-bottom: 50px;
}

/* VIEW */
.view_header {
	position: relative;
	width : 800px;
	height : 30px;
}
.view_writer {
	position: absolute;
	width : 100px;
	right : 0;
	bottom : 0;
	display: block;
	text-align: right;
	
}


/* TITLE */
.view_title {
	font-size: 25px;
}

/* DATE */
.view_date {
	font-size: 9px;
	color: #c8c8c8;
}
.date_location {
	text-align: right;
}

/* CONTENT */
.view_content {
	width : 800px;
	margin-top : 5px;
	margin-bottom: 50px;
}

.content_write {
	display:block;
	width: 800px;
}


/* ATTACH */
.view_attach {
	width : 800px;
	margin-bottom: 50px;
}
#cnt {
	cursor:pointer;
}
#cnt:hover {
	color:#7B68EE;
}
.attach_location {
	text-align: right;
}

.attachFile:hover {
	color:#C1AEEE;
}

/* COMMENT */
.add_comment_input {
	position: relative;
	height: 50px;
}
.content_write {
	display: block;
	width : 700px;
	height : 40px;
	position: absolute;
	border: 1px solid #7B68EE;
	outline-color: #7B68EE;
	border-radius: 3px;
}
#btn_add_comment {
	display:block;
	width : 80px;
	height : 44px;
	position: absolute;
	right: 0;
	margin-right: 10px;
	background-color: #7B68EE;
	color:#fff;
	border: none;
	border-radius: 5px;
}

/* BLIND */
.blind {
	display: none;
}

/* BUTTON */
.btn {
	width : 80px;
	display : inline-block;
	height: 30px;
	border-radius: 3px;
	box-sizing: border-box;
	line-height: 30px;
	text-align: center;
	background: #B4B4FF;
	border: 1px solid #c8c8c8;
	color: #fff;
	font-size: 11px;
	margin: 1px;
}
.btn:hover {
	width : 80px;
	display : inline-block;
	height: 30px;
	border-radius: 3px;
	box-sizing: border-box;
	line-height: 30px;
	text-align: center;
	background: #7B68EE;
	border: 1px solid #c8c8c8;
	color: #fff;
	font-size: 11px;
	margin: 1px;
}
.btn_location {
	text-align: right;
}
